{
  "openapi": "3.1.0",
  "info": {
    "title": "Fleetwright coordinator",
    "version": "1.0.0",
    "summary": "Long-running Claude Code sessions on machines you own, driven from a phone.",
    "description": "There are TWO implementations of this API \u2014 a Cloudflare Worker with a Durable Object, and a Node process \u2014 and they are required to behave identically. This document is the contract between them, and `test/openapi.test.js` walks it and asserts both.\n\nThat is the reason it exists. It is not primarily documentation: five separate parity bugs reached this branch before it was written, the last of which (`GET /api/events` existing on one coordinator and not the other) was found in about ten seconds by listing both route tables side by side.\n\nCONVENTIONS THAT ARE NOT OBVIOUS:\n\n- Every response carries `ok`. A 200 with `ok: false` is normal and means the fleet answered and the answer was no.\n- Errors carry `error.code` for a machine and `text` for a person. The text is written to be shown as-is; several of them are the only guidance an operator gets.\n- A credential may arrive as `Authorization: Bearer <token>` OR as `?token=<token>`. The query form is deliberate: a Shortcut calls this through \"Get Contents of URL\" and cannot set headers. Both are read by one function so the two forms can never diverge \u2014 they did once, and `?token=fwk_` was full access.",
    "license": {
      "name": "See repository"
    }
  },
  "servers": [
    {
      "url": "https://fleet.thetech.network",
      "description": "the Cloudflare Worker"
    },
    {
      "url": "http://127.0.0.1:8791",
      "description": "a Node coordinator on a box"
    }
  ],
  "tags": [
    {
      "name": "public",
      "description": "Reachable with no credential, deliberately. Each one is here for a stated reason."
    },
    {
      "name": "identity",
      "description": "Becoming allowed in: signing in, enrolling a machine."
    },
    {
      "name": "fleet",
      "description": "What exists and what it is doing."
    },
    {
      "name": "intents",
      "description": "Doing something to a session."
    },
    {
      "name": "devices",
      "description": "Push registration."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "A per-device credential (`fwk_<id>_<secret>`) issued by POST /api/session, or the break-glass admin token. Phones use the former; the latter can stop every session in the fleet."
      },
      "queryToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "The same credential, for callers that cannot set a header. Shortcuts, mostly."
      }
    },
    "schemas": {
      "Reply": {
        "type": "object",
        "required": [
          "ok"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "text": {
            "type": [
              "string",
              "null"
            ],
            "description": "For a person. Shown as-is."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              }
            },
            "required": [
              "code"
            ]
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "name",
          "status"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Generated and stable, e.g. cc-brave-otter. The identity everything keys on."
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the work is. For people."
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "stopped",
              "error"
            ]
          },
          "hostId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Which box. Attached by the coordinator on fan-out, because two hosts can hold the same name."
          },
          "rcUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Remote Control, if this session has published one."
          },
          "uuid": {
            "type": [
              "string",
              "null"
            ],
            "description": "The conversation. Present means resumable."
          },
          "startedAt": {
            "type": [
              "number",
              "null"
            ],
            "description": "When this run of it started, epoch ms on the host's clock. A timestamp rather than a duration, because a duration is stale the moment it is serialised and the client doing the arithmetic is the only place it stays right."
          },
          "prompt": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Prompt"
              },
              {
                "type": "null"
              }
            ],
            "description": "What it is asking, when the host recognised the question on its pane. Null when it is asking nothing, and also when it is waiting on something the host cannot read: `awaitingSince` says whether a person is needed, this says what for."
          },
          "awaitingSince": {
            "type": [
              "number",
              "null"
            ],
            "description": "Since when it has been blocked on a person, epoch ms on the host's clock, or null when it is not. The earlier of the session's own hook saying a dialog went up and the host's watcher first seeing one on the pane, so it is a lower bound on how long it has waited: the watcher looks every twenty seconds, and one that restarted begins counting again."
          },
          "phases": {
            "type": [
              "object",
              "null"
            ],
            "description": "How this run of the session has spent its time, from its own lifecycle hooks. Null is CANNOT TELL (not running, a session image older than the hooks, nothing reported yet in this run) and never zero. The totals are CLOSED time, up to `currentSince`; the client adds the open stretch from its own clock.",
            "required": [
              "since",
              "current",
              "currentSince",
              "workingMs",
              "awaitingMs",
              "readyMs"
            ],
            "properties": {
              "since": {
                "type": "number",
                "description": "When the host started counting: the first hook of this run. Nothing before it is in any total."
              },
              "current": {
                "type": "string",
                "enum": [
                  "working",
                  "awaiting",
                  "ready",
                  "ended"
                ]
              },
              "currentSince": {
                "type": "number",
                "description": "When it entered `current`."
              },
              "workingMs": {
                "type": "integer",
                "minimum": 0
              },
              "awaitingMs": {
                "type": "integer",
                "minimum": 0,
                "description": "Blocked on a person: a dialog that needs an answer."
              },
              "readyMs": {
                "type": "integer",
                "minimum": 0,
                "description": "At its own prompt, waiting for the next instruction."
              }
            }
          },
          "spent": {
            "type": [
              "object",
              "null"
            ],
            "description": "What the conversation has cost, as Claude Code counted it in the `cost-state` line it writes into its own transcript. Never estimated by the fleet: there is no price table here. Null is CANNOT TELL (no such line yet, a CLI that does not write one, a transcript the host cannot read).",
            "required": [
              "usd",
              "complete",
              "asOf"
            ],
            "properties": {
              "usd": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Claude Code's own figure, at API prices. On a Pro or Max sign-in that is not what anybody is billed."
              },
              "complete": {
                "type": "boolean",
                "description": "False unless Claude Code said every model it used had a known price; when false, `usd` is a floor."
              },
              "inputTokens": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "outputTokens": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "cacheReadTokens": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "cacheWriteTokens": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "asOf": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "When Claude Code wrote the figure, epoch ms. It writes one when a turn ends with nothing queued behind it, so a session in the middle of a turn is reported as of its last pause."
              }
            }
          }
        }
      },
      "Host": {
        "type": "object",
        "required": [
          "hostId",
          "connected",
          "state"
        ],
        "properties": {
          "hostId": {
            "type": "string"
          },
          "connected": {
            "type": "boolean"
          },
          "connectedAt": {
            "type": [
              "number",
              "null"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "healthy",
              "degraded",
              "unknown",
              "offline"
            ],
            "description": "Four values, not three. `offline` is what a host becomes when its socket drops \u2014 a fact we know, distinct from `unknown`, which is what we say when we have not heard recently enough to be sure. A client that collapses them reports a box we KNOW is gone as a box we cannot see, which is the more alarming of the two and the less accurate."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "Why it is not healthy, as a sentence. The registry works hard to make \"we don't know\" unrepresentable."
          },
          "health": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "healthAt": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "EnrolledHost": {
        "type": "object",
        "required": [
          "hostId",
          "fingerprint"
        ],
        "properties": {
          "hostId": {
            "type": "string"
          },
          "fingerprint": {
            "type": "string",
            "description": "16 hex characters of SHA-256 over the public key. Compare against what the box prints."
          },
          "enrolledBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "enrolledAt": {
            "type": [
              "number",
              "null"
            ]
          },
          "lastSeenAt": {
            "type": [
              "number",
              "null"
            ]
          },
          "revokedAt": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "Event": {
        "type": "object",
        "required": [
          "event",
          "at"
        ],
        "properties": {
          "hostId": {
            "type": [
              "string",
              "null"
            ]
          },
          "event": {
            "type": "string",
            "description": "session.awaiting-input, session.ended, session.error, session.rc-online, host.enrolled, host.refused, host.revoked, enrol.minted, intent"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "text": {
            "type": [
              "string",
              "null"
            ]
          },
          "actor": {
            "type": [
              "string",
              "null"
            ],
            "description": "The verified email of whoever asked. Null for events the fleet originated."
          },
          "verb": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          },
          "at": {
            "type": "number"
          }
        }
      },
      "Prompt": {
        "type": "object",
        "description": "What a session is asking, when the host recognised the shape of it. Never raw pane text \u2014 see src/fleet/host/prompt.js.",
        "required": [
          "id",
          "kind",
          "question",
          "options"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Names this question as rendered. An answer that no longer matches is refused rather than typed into whatever is on screen instead."
          },
          "kind": {
            "type": "string",
            "enum": [
              "resume",
              "trust",
              "permission"
            ]
          },
          "question": {
            "type": "string",
            "description": "Written by the fleet, drawn from a fixed vocabulary. Never lifted from the terminal."
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "index",
                "label"
              ],
              "properties": {
                "index": {
                  "type": "integer"
                },
                "label": {
                  "type": "string",
                  "maxLength": 80
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearer": []
    },
    {
      "queryToken": []
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "public"
        ],
        "security": [],
        "summary": "Liveness, and nothing else",
        "description": "No host names, no counts. A liveness endpoint that leaks the fleet is not a liveness endpoint.",
        "responses": {
          "200": {
            "description": "alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "protocol"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "protocol": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/session": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Sign in, and receive a credential for this device",
        "description": "The one route that takes an identity token rather than a fleet credential, because it is where a fleet credential comes from. The ID token is verified against the provider's published keys and the address checked against the fleet's allowlist. Rate limited.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idToken"
                ],
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "From Sign in with Apple or Google."
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "Names the credential in the fleet's device list."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The only time the credential exists in full. The coordinator keeps a hash.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "token"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "token": {
                      "type": "string",
                      "pattern": "^fwk_"
                    },
                    "client": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The token did not verify, and the reason says which check failed. `token_reused` means it already bought a credential: a token is exchanged once."
          },
          "403": {
            "description": "Verified, and not allowed in. `private_relay` means Hide My Email, which can never match a domain."
          },
          "429": {
            "description": "Too many attempts from this address."
          },
          "503": {
            "description": "This coordinator has no sign-in configured."
          },
          "507": {
            "description": "this fleet cannot store another credential"
          }
        }
      }
    },
    "/api/enroll": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Mint a six-digit pin",
        "description": "An invitation, not a way in \u2014 it requires a credential. A pin is short-lived, single-use and purpose-bound. Bind it to a host id to allow replacing that machine's key; an unbound pin may only ADD a machine.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "host",
                      "device"
                    ],
                    "default": "host"
                  },
                  "label": {
                    "type": "string"
                  },
                  "hostId": {
                    "type": "string",
                    "description": "Bind the pin to one machine."
                  },
                  "readmit": {
                    "type": "boolean",
                    "description": "Allow this pin to bring back a REVOKED host."
                  },
                  "ephemeral": {
                    "type": "boolean",
                    "description": "Admit a host that is expected to vanish: a disconnect retires the entry and revokes its key, and the scheduler will not place ordinary work on it. Decided here rather than claimed by the host \u2014 see docs/ephemeral-hosts.md."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the pin, shown once",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "code"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "code": {
                      "type": "string",
                      "pattern": "^[0-9]{6}$"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "purpose": {
                      "type": "string"
                    },
                    "install": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The one line that installs a fresh box and joins it with this pin \u2014 `curl -fsSL <origin>/install | sudo FLEETWRIGHT_ENROL_PIN=123456 sh`. Null when this coordinator publishes no installer, or for a device pin; an older coordinator omits it. The pin rides as an environment variable, never in the URL."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "no credential"
          }
        }
      },
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "What pins are outstanding",
        "description": "Codes are masked. This answers \"what did I leave lying around\", not \"what is the pin\".",
        "responses": {
          "200": {
            "description": "outstanding pins, masked"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/enroll/host": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Spend a pin to register a machine's public key",
        "description": "Reachable without a credential BECAUSE it is how a machine that has none gets one. The pin is the authorisation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "hostId",
                  "publicJwk"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "hostId": {
                    "type": "string"
                  },
                  "publicJwk": {
                    "type": "object",
                    "description": "P-256 public key. A private key here is refused."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "enrolled, re-enrolled or readmitted \u2014 `text` says which"
          },
          "400": {
            "description": "the key or the host id was not acceptable"
          },
          "403": {
            "description": "the pin was wrong, spent, expired, or minted for another host"
          },
          "507": {
            "description": "this fleet is holding as many machines as it can store"
          }
        }
      }
    },
    "/api/host/challenge": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "A nonce to sign",
        "description": "Unauthenticated by necessity \u2014 asking for a nonce is what an unauthenticated party does in order to become authenticated. Nothing is stored: the nonce carries its own proof that this coordinator issued it, so a flood costs the coordinator nothing and cannot evict anybody else's.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hostId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "a nonce",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "nonce"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "nonce": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/host/verify": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "The same check /host/connect makes, without the socket",
        "description": "So `fleetwright-sidecar doctor` can tell an operator that the key on disk was never enrolled, or has been revoked, instead of leaving them to read a reconnect loop out of the journal.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostId",
                  "nonce",
                  "proof"
                ],
                "properties": {
                  "hostId": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "proof": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "this host would be admitted"
          },
          "401": {
            "description": "and the reason distinguishes not-enrolled, revoked, expired, already-used and wrong-key"
          }
        }
      }
    },
    "/api/hosts": {
      "get": {
        "tags": [
          "fleet"
        ],
        "summary": "Everything a client can see about the fleet",
        "responses": {
          "200": {
            "description": "hosts, device count, recent events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "protocol",
                    "hosts"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "protocol": {
                      "type": "integer"
                    },
                    "hosts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Host"
                      }
                    },
                    "devices": {
                      "type": "integer"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "runners": {
                      "description": "Whether YOU can start a temporary machine here, and from where. Your own runner repository when you set one (`own: true`), the fleet\u2019s otherwise, and null when neither exists \u2014 so a client offers `provision` only where it does something. Absent from an older coordinator, which means the same.",
                      "oneOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "object",
                          "required": [
                            "repo"
                          ],
                          "properties": {
                            "repo": {
                              "type": "string",
                              "description": "owner/repo holding the runner workflows"
                            },
                            "own": {
                              "type": "boolean",
                              "description": "true when this is your own runner repository rather than the fleet\u2019s. Absent from an older coordinator, which had only the fleet\u2019s."
                            }
                          }
                        }
                      ]
                    },
                    "vmImages": {
                      "description": "The machine images YOU can start a VM from, on your own hypervisor: one per image, from the boxes holding a pool token you kept in your vault. Empty when no box holds one of yours. Start one with `provision` (platform `vm`, `template`). Absent from an older coordinator, which means the same.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "template",
                          "name",
                          "address",
                          "hosts"
                        ],
                        "properties": {
                          "template": {
                            "type": "string",
                            "description": "the image\u2019s id in Xen Orchestra, which `provision` takes as `template`"
                          },
                          "name": {
                            "type": "string"
                          },
                          "pool": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "poolName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "address": {
                            "type": "string",
                            "description": "the Xen Orchestra it is on"
                          },
                          "hosts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "the permanent boxes that can make it"
                          },
                          "networks": {
                            "type": "array",
                            "description": "the pool\u2019s networks the fleet may use, which `provision` takes as `network` instead of the uplink behind the edge router",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "groups": {
                            "type": "array",
                            "description": "the pool's group networks, made by the hypervisor's policy: a machine joins one as well as its own network to reach the others in its group (`provision.group`)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "labs": {
                            "type": "array",
                            "description": "the pool's labs: networks of their own on its edge router, made by the hypervisor's policy. A machine in one (`provision` with platform `lab` and the lab's id as `network`) is on it alone and reaches the internet when the lab is open, or only the fleet and Claude when it is closed. Absent or empty: the pool has none, or the box holding it predates labs.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "open": {
                                  "type": "boolean",
                                  "description": "true: it reaches the internet; false: only the fleet and Claude"
                                },
                                "free": {
                                  "type": "boolean",
                                  "description": "no machine is on it, by the box\u2019s last look, and none was just asked for there"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "vmMachines": {
                      "description": "The machines already made from your images, as the boxes holding your pools last saw them: one per name. Work one with `vmctl`. Absent from an older coordinator, which means none can be shown.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "address",
                          "hosts"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "its host id, vm-\u2026"
                          },
                          "vm": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "its id in Xen Orchestra"
                          },
                          "state": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Xen Orchestra\u2019s power state"
                          },
                          "ip": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "until": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "when it ends, epoch ms"
                          },
                          "madeAt": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "when it was made, epoch ms"
                          },
                          "cpus": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "memory": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "bytes"
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "network": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "net": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "what it sent and received as the hypervisor counted it; null is cannot tell (a box older than this, a pool that did not say, or a stopped machine)",
                            "properties": {
                              "interval": {
                                "type": "number",
                                "description": "seconds between points"
                              },
                              "end": {
                                "type": "number",
                                "description": "the last point's time, epoch ms"
                              },
                              "rx": {
                                "type": "array",
                                "maxItems": 60,
                                "items": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "description": "bytes a second, one point an interval, oldest first; null is a gap"
                              },
                              "tx": {
                                "type": "array",
                                "maxItems": 60,
                                "items": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "description": "bytes a second, one point an interval, oldest first; null is a gap"
                              }
                            },
                            "required": [
                              "interval",
                              "end",
                              "rx",
                              "tx"
                            ]
                          },
                          "group": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "the group network it is also on, by name"
                          },
                          "groupIp": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "its address on that group network"
                          },
                          "lab": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "the lab it is in, by its network\u2019s name, and whether that lab is open; null is in no lab",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "open": {
                                "type": "boolean"
                              }
                            }
                          },
                          "address": {
                            "type": "string",
                            "description": "the Xen Orchestra it is on"
                          },
                          "hosts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "standby": {
                            "type": "boolean",
                            "description": "kept ready and not yet taken by a session"
                          }
                        }
                      }
                    },
                    "vmStandby": {
                      "description": "What you keep ready on your hypervisor and how many are, or null when you keep none. Set with PUT /api/vm-standby.",
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "template": {
                          "type": "string"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "network": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "ready": {
                          "type": "integer"
                        },
                        "starting": {
                          "type": "integer"
                        },
                        "since": {
                          "type": "integer",
                          "description": "when the oldest machine still being made was asked for, in epoch milliseconds; absent when none is"
                        },
                        "failed": {
                          "type": "object",
                          "description": "why the last machine asked for did not come, kept until one does; absent when nothing has failed",
                          "properties": {
                            "at": {
                              "type": "integer"
                            },
                            "text": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/hosts/enrolled": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Which machines are in this fleet, with their key fingerprints",
        "description": "Carries no key material. The fingerprint is for a person to compare against what the box prints.",
        "responses": {
          "200": {
            "description": "enrolled machines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "hosts"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "hosts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnrolledHost"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/hosts/{hostId}": {
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Remove a machine from the fleet",
        "description": "Revoked AND disconnected: a revoked host holding a live socket is still in the fleet until something closes it. Marked rather than deleted, so a host that reconnects is told it was revoked rather than that it was never known.",
        "parameters": [
          {
            "name": "hostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "revoked and disconnected"
          },
          "401": {
            "description": "no credential"
          },
          "404": {
            "description": "no such host, or already revoked"
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Who this credential belongs to, whether they are an admin, and which view this request is answered in",
        "description": "So an app draws admin-only controls for admins and nothing for members, instead of drawing them for everyone and refusing after the tap. `admin` is the same check the destructive routes make, and it grants nothing. Any request carrying `x-fleetwright-view: member` from an admin is answered as a member's would be (filtered lists, admin routes refused), so an admin can see what the people they invite see; `viewing` says which view this reply is in, and `admin` keeps the real role so the app can offer the way back. The header can only take privilege away.",
        "responses": {
          "200": {
            "description": "email, admin, viewing"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/clients": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Which devices can reach this fleet",
        "description": "Without secrets \u2014 the coordinator stores a hash, not a token.",
        "responses": {
          "200": {
            "description": "devices"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/clients/{id}": {
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Revoke one device, leaving every other alone",
        "description": "Which is the whole point of there being more than one credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "revoked"
          },
          "401": {
            "description": "no credential"
          },
          "404": {
            "description": "no such client, or already revoked"
          }
        }
      }
    },
    "/api/invites": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Who has been invited",
        "description": "The allow list an admin grew by hand, as opposed to the one in the deployment\u2019s configuration. An invitation grants nothing by itself: it names WHICH ADDRESS may sign in.",
        "responses": {
          "200": {
            "description": "`invites` \u2014 one row per address"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not an admin \u2014 inviting is the admin seat\u2019s"
          }
        }
      },
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Invite an address",
        "description": "Adds the address to the allow list and, when the deployment can send mail, emails them the two store links. The reply says whether the email went, because \u201cinvited\u201d and \u201ctold\u201d are different facts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string",
                    "description": "a line for the email, in the inviter\u2019s words"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "invited \u2014 `text` says whether an email was sent"
          },
          "400": {
            "description": "not an address"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not an admin \u2014 inviting is the admin seat\u2019s"
          },
          "507": {
            "description": "this fleet has as many invitations outstanding as it can store"
          }
        }
      }
    },
    "/api/invites/{email}": {
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Withdraw an invitation",
        "description": "Removes the address from the allow list. A credential they already hold is a separate row and is revoked from /api/clients/{id}.",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "withdrawn \u2014 `invites` is the list after"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not an admin \u2014 inviting is the admin seat\u2019s"
          },
          "404": {
            "description": "was not invited"
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": [
          "fleet"
        ],
        "summary": "What happened while you were asleep",
        "description": "Push wakes a phone; this tells it what it missed. Capped at the same page size on both coordinators.",
        "responses": {
          "200": {
            "description": "recent events, oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "events"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/intent": {
      "post": {
        "tags": [
          "intents"
        ],
        "summary": "Do something to a session",
        "description": "The fixed verb set is the security model: this API cannot express a shell string even to itself, so a compromised coordinator can start and stop sessions and can never run anything. A caller-supplied `actor` is a label; a signed-in device's verified email overrides it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verb"
                ],
                "properties": {
                  "verb": {
                    "type": "string",
                    "enum": [
                      "answer",
                      "channel",
                      "connect",
                      "copyfile",
                      "deletefile",
                      "exchange",
                      "files",
                      "forget",
                      "health",
                      "labels",
                      "link",
                      "list",
                      "logs",
                      "mint",
                      "peek",
                      "profiles",
                      "provision",
                      "purge",
                      "readfile",
                      "reboot",
                      "renew",
                      "restore",
                      "resume",
                      "runnerrepo",
                      "linkrepo",
                      "sandbox",
                      "secrets",
                      "setuptoken",
                      "start",
                      "status",
                      "stop",
                      "unlink",
                      "update",
                      "updates",
                      "upgrade",
                      "verify",
                      "writefile",
                      "xoprobe",
                      "xosetup",
                      "vmctl"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "actor": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Idempotency key, honoured: a retried `start` returns the original outcome rather than a second session."
                  },
                  "host": {
                    "type": "string",
                    "description": "Placement preference for `start`: run the session on this host. Beside the intent rather than in params, because `start` declares no host parameter \u2014 a host receiving one would refuse the intent. Ignored for pinned and fan-out verbs. Refused by name if the host is unknown, degraded, or full."
                  },
                  "start": {
                    "type": "object",
                    "description": "For `provision` only: a session to start on the runner once it joins the fleet, as `start` would take it \u2014 `task`, `title`, `brief` and `mode`. Held by the coordinator with the dispatch ticket and started on the runner\u2019s first health frame, as the person who asked. `task` is the words it starts working on; without one it comes up idle. No profile or secret: a runner holds neither.",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "brief": {
                        "type": "string"
                      },
                      "mode": {
                        "type": "string"
                      },
                      "task": {
                        "type": "string",
                        "maxLength": 8000
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The fleet answered. `ok: false` here means the answer was no.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Reply"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "sessions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Session"
                          }
                        },
                        "fanout": {
                          "type": "boolean"
                        },
                        "hosts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "not a well-formed intent"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/devices": {
      "post": {
        "tags": [
          "devices"
        ],
        "summary": "Register for push",
        "description": "Keyed by the push token rather than an id we mint, because the token is what identifies a delivery target \u2014 and a reinstall gives the same phone a new one, which should not accumulate as a second registration that fails forever.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "platform",
                  "token"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "ios",
                      "android",
                      "web"
                    ]
                  },
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "registered"
          },
          "400": {
            "description": "unknown platform, or no token"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "that push token is registered to another device"
          },
          "507": {
            "description": "this fleet is holding as many push registrations as it can store"
          }
        }
      },
      "delete": {
        "tags": [
          "devices"
        ],
        "summary": "Stop notifying this device",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "forgotten"
          },
          "401": {
            "description": "no credential"
          },
          "404": {
            "description": "not registered"
          }
        }
      }
    },
    "/api/devices/test": {
      "post": {
        "tags": [
          "devices"
        ],
        "summary": "Send this device a notification now",
        "description": "Push fails silently by nature: a registration that never arrived and a provider that was never configured look identical from a phone, which is to say they look like nothing at all. This is the only way to find out before the notification that matters.",
        "responses": {
          "200": {
            "description": "sent, or a reason it was not"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/apple/notifications": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Apple's server-to-server notification",
        "description": "Apple POSTs a signed JWT here when a user changes mail forwarding, REVOKES this app from their Apple ID settings, or deletes their Apple Account. The last two mean a person has withdrawn consent, and every credential issued to that address is revoked \u2014 along with the push registrations that went with them.\n\nPublic by necessity: Apple holds no credential of ours, so the signature on the JWT is the entire authentication. Anyone may POST here; only a message signed by Apple, for this app's audience, does anything.\n\nAnswers 200 to anything it can verify, including notifications it deliberately ignores, because Apple retries on failure and there is nothing to gain from making it retry a message we understood.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payload"
                ],
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "A JWT signed by Apple."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "verified \u2014 acted on, or deliberately ignored"
          },
          "401": {
            "description": "the notification did not verify"
          },
          "503": {
            "description": "this coordinator has no audience configured, so it cannot check one"
          }
        }
      }
    },
    "/oauth/github/callback": {
      "get": {
        "summary": "Finish a GitHub App authorization",
        "description": "Where GitHub redirects a browser after somebody authorizes the App. Unauthenticated by necessity \u2014 a browser carries no fleet credential \u2014 and secured by `state`: unguessable, single-use, minutes-long, and bound to the host and person who started the flow. Returns HTML, because the thing reading it is a browser. Absent a configured App, every request here is refused.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connected. An HTML page telling the person they can close the tab.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Refused \u2014 unknown, expired or already-used state, or GitHub declined.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/oauth/github/relayed": {
      "get": {
        "summary": "Finish a GitHub sign-in made through the OAuth relay",
        "description": "Where the OAuth relay (docs/relay-terms.md) sends a browser back, for a coordinator that has the App's client id and not its secret. The relay exchanged the code and sealed the token to this coordinator's registered key; only this coordinator can open it. Unauthenticated by necessity and secured like the callback: the `state` is single-use and minted here, and the same state must be found again inside what was sealed. Returns HTML. A coordinator with no relay configured refuses every request here.",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sealed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The token, sealed to this coordinator's key. Absent when `error` is present."
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "denied",
                "limited",
                "exchange",
                "unavailable"
              ]
            },
            "description": "What went wrong at the relay, in one word."
          }
        ],
        "responses": {
          "200": {
            "description": "Connected. An HTML page telling the person they can close the tab.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Refused: unknown, expired or already-used state, a sealed token that does not open or was made for another state, or what the relay said went wrong.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/oauth/cloudflare/callback": {
      "get": {
        "summary": "Finish a Cloudflare OAuth authorization",
        "description": "Where Cloudflare redirects a browser after somebody authorizes this fleet's OAuth client. The same shape as the GitHub callback and secured the same way: unauthenticated by necessity \u2014 a browser carries no fleet credential \u2014 with a `state` that is unguessable, single-use, minutes-long, and bound to the host and person who started the flow. Returns HTML, because the thing reading it is a browser. Absent a configured client, every request here is refused.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connected. An HTML page telling the person they can close the tab.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Refused \u2014 unknown, expired or already-used state, or Cloudflare declined.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/runner-tokens": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Runner tokens that are yours",
        "description": "Every token for an admin; only their own for a member. A runner token is how a repository\u2019s workflow enrols an ephemeral host as the person who minted it \u2014 see docs/ephemeral-hosts.md.",
        "responses": {
          "200": {
            "description": "`tokens`, never the secret half"
          },
          "401": {
            "description": "no credential"
          }
        }
      },
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Mint a runner token",
        "description": "Belongs to the signed-in person, so runs it enrols are attributed to them. The admin token cannot mint one: a runner has to be somebody\u2019s.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "what it is for, usually the repository"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`id`, `token` (shown once) and `email`"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "507": {
            "description": "this fleet cannot store another runner token"
          }
        }
      }
    },
    "/api/runner-tokens/{id}": {
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Revoke a runner token",
        "description": "Runs still using it are refused at enrolment from then on. A member can revoke their own; an admin any.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "revoked"
          },
          "401": {
            "description": "no credential"
          },
          "404": {
            "description": "no such token, or not yours \u2014 the two are not distinguished on purpose"
          }
        }
      }
    },
    "/api/linked-repos": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Your linked repositories, one per role",
        "description": "One list with a role on each link, because the three roles want different visibility, credentials and warnings: `links` holds `{ role, repo, setAt }` for each role you have linked, and `fleet.runners` is the fleet\u2019s runner repository, which is what you get without one of your own. See docs/linked-repos.md.",
        "responses": {
          "200": {
            "description": "`links` and `fleet`"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          }
        }
      }
    },
    "/api/linked-repos/{role}": {
      "put": {
        "tags": [
          "identity"
        ],
        "summary": "Link a repository for one role, once it passes that role\u2019s check",
        "description": "Checked as the Fleetwright GitHub App by the minting Worker, or on a permanent box with YOUR GitHub connection (`linkrepo`): an `archive` has to be private and writable, `runners` public with the runner workflows and Actions write, `templates` either and readable. Saved, as GitHub spells it, only if it passes; the check comes back either way, as `linkedRepo`. Linking an archive means the sessions you start from then on are pushed to it, each on a branch of its own, before they stop.",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "archive",
                "runners",
                "templates"
              ]
            },
            "description": "`archive` (private: where your sessions are pushed before they stop), `runners` (public: where your temporary machines start, the runner repository by another route) or `templates` (either: skills, presets, configs and workflows a session may read)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo"
                ],
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "owner/repo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "linked: `role`, `repo`, `linkedRepo` (the check) and `text`"
          },
          "400": {
            "description": "not a role, or not an owner/repo"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "422": {
            "description": "the check did not pass, so nothing was linked: `linkedRepo` says which answer, `text` what to fix, and `needsConnection` when no box holds your GitHub connection"
          }
        }
      },
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Unlink the repository for one role",
        "description": "Sessions you start afterwards are not pushed to an archive; ones already running keep the archive they started with. Unlinking `runners` is clearing your runner repository.",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "archive",
                "runners",
                "templates"
              ]
            },
            "description": "`archive` (private: where your sessions are pushed before they stop), `runners` (public: where your temporary machines start, the runner repository by another route) or `templates` (either: skills, presets, configs and workflows a session may read)"
          }
        ],
        "responses": {
          "200": {
            "description": "unlinked, or there was nothing to unlink"
          },
          "400": {
            "description": "not a role"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          }
        }
      }
    },
    "/api/runner-repo": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Your own runner repository",
        "description": "Where your temporary machines come from: `repo` is yours, null when you have not set one, and `fleet` is the fleet\u2019s, which is what you get without one. See docs/runner-central.md.",
        "responses": {
          "200": {
            "description": "`repo` and `fleet`"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          }
        }
      },
      "put": {
        "tags": [
          "identity"
        ],
        "summary": "Set your runner repository, once it passes the check",
        "description": "A permanent box checks it with YOUR GitHub connection \u2014 public, the Fleetwright GitHub App installed with Actions write, and which runner workflows it carries \u2014 and it is saved, as GitHub spells it, only if every answer is one a dispatch can use. The check comes back either way, as `runnerRepo`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo"
                ],
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "owner/repo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "saved: `repo`, `runnerRepo` (the check) and `text`"
          },
          "400": {
            "description": "not an owner/repo"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "422": {
            "description": "the check did not pass, so nothing was saved: `runnerRepo` says which answer, `text` what to fix, and `needsConnection` when no box holds your GitHub connection"
          }
        }
      },
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Clear your runner repository",
        "description": "Your machines come from the fleet\u2019s repository again, when it has one.",
        "responses": {
          "200": {
            "description": "cleared, or there was nothing to clear"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          }
        }
      }
    },
    "/api/vm-standby": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Machines you keep ready on your hypervisor",
        "description": "What you keep ready and how many are: `vmStandby` is `{ template, count, network, ready, starting }`, or null when you keep none. See docs/hypervisors.md, \u201cMachines kept ready\u201d.",
        "responses": {
          "200": {
            "description": "`vmStandby`"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          }
        }
      },
      "put": {
        "tags": [
          "identity"
        ],
        "summary": "Keep machines ready, or stop",
        "description": "Keep `count` machines (0 to 3) from `template` booted and joined, on `network` or behind the edge router, so a session on that image starts on one at once. 0 keeps none; machines kept beyond the new count are ended.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "count"
                ],
                "properties": {
                  "template": {
                    "type": "string",
                    "description": "a machine image, as `vmImages` lists it"
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 3
                  },
                  "network": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "a network of the pool, as the image lists it; null is behind the edge router"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`vmStandby` as it now is"
          },
          "400": {
            "description": "a count, image or network that is not one"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "422": {
            "description": "no box offers that image now, or the fleet keeps as many as it can store"
          }
        }
      }
    },
    "/api/runners/dispatch": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Start a runner from your own device",
        "description": "Mints the dispatch ticket `provision` would, and holds the session to start when the runner joins, but hands the dispatch to the caller instead of to a permanent box: `repo`, `workflow` and `inputs` are what to send GitHub's `POST /repos/{repo}/actions/workflows/{workflow}/dispatches` with the caller's own GitHub sign-in, on the repository's default branch. No permanent box is involved. See docs/runner-central.md.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "platform"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "macos",
                      "windows",
                      "linux",
                      "android"
                    ]
                  },
                  "minutes": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 350
                  },
                  "start": {
                    "type": "object",
                    "description": "a session to start when it joins: `task`, `title`, `brief`, `mode`, as `start` takes them"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`repo`, `workflow`, `inputs` (`minutes`, `ticket`, `coordinator`) and `text`"
          },
          "400": {
            "description": "not a platform, or minutes out of range"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "422": {
            "description": "nowhere to start one: no runner repository is set for you or for the fleet"
          }
        }
      }
    },
    "/api/github/device": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Start signing in to GitHub on this device",
        "description": "The App's client id and the callback GitHub sends the browser back through, for a device that runs GitHub's sign-in page itself with its own PKCE verifier and a state beginning `d.`. Not the client secret: that stays in the minting Worker, which finishes the exchange (POST). The callback hands the code back to the app at `fleetwright://github` and exchanges nothing.",
        "responses": {
          "200": {
            "description": "`clientId`, `redirectUri`, `statePrefix`"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "503": {
            "description": "this fleet has no GitHub App configured"
          }
        }
      },
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Finish or renew this device's GitHub sign-in",
        "description": "`sealed` is `{ v: 1, grant: 'code'|'refresh', code, verifier, redirectUri, refreshToken, reply, at }` sealed on the device to the minting Worker's deposit key. The coordinator relays it unread; the minter makes the exchange with the client secret only it holds, and returns the token sealed to `reply`, a key only the device has. See docs/runner-central.md.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sealed"
                ],
                "properties": {
                  "sealed": {
                    "type": "object",
                    "description": "`{ epk, iv, ct }` from src/fleet/seal.js"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`sealed`, the token for the device, and `text`"
          },
          "400": {
            "description": "not a sealed sign-in"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "422": {
            "description": "refused: `error.code` and `text` say why (stale, sealed to another key, GitHub refused the code, no minter)"
          }
        }
      }
    },
    "/api/claude-login": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "The key your Claude login is sealed to",
        "description": "The minting Worker's deposit key, as it states it. The deposit tool compares it with the pin your operator gave you and refuses when they differ, because a coordinator is exactly what would swap it. See docs/runner-central.md, \u201cYour Claude login on a runner\u201d.",
        "responses": {
          "200": {
            "description": "`key`"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "503": {
            "description": "this fleet's minting Worker keeps no Claude logins"
          }
        }
      },
      "put": {
        "tags": [
          "identity"
        ],
        "summary": "Deposit, replace or forget your Claude login",
        "description": "`sealed` is a `claude setup-token` and a GitHub token of yours, sealed on your computer to the minting Worker's key, so this coordinator carries it unread. The minter asks GitHub whose account the GitHub token is, keeps the Claude token for that account's runners, and discards the GitHub token. A null Claude token forgets the one kept.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sealed"
                ],
                "properties": {
                  "sealed": {
                    "type": "object",
                    "description": "`{ epk, iv, ct }` from src/fleet/seal.js"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "kept or forgotten: `login` (the GitHub account), `forgotten`, `text`"
          },
          "400": {
            "description": "not a sealed login"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "422": {
            "description": "refused by the minter: `error.code` and `text` say why \u2014 stale, sealed to another key, not a token, or GitHub would not say whose"
          }
        }
      }
    },
    "/api/enroll/actions": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Admit a GitHub Actions job as an ephemeral host",
        "description": "Reachable without a credential BECAUSE the job\u2019s OIDC token is the credential: verified against GitHub\u2019s keys, bound to the repositories in FLEETWRIGHT_ACTIONS_REPOS, and single-use. Returns a pin the runner spends at /api/enroll/host \u2014 see docs/ephemeral-hosts.md.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "the job\u2019s ACTIONS_ID_TOKEN"
                  },
                  "ticket": {
                    "type": "string",
                    "description": "a single-use ticket from a `provision` dispatch, which attributes the run to the person who asked for it"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "a pin, host-bound and short-lived"
          },
          "403": {
            "description": "the token did not verify, or names a repository this fleet does not admit \u2014 `error.code` is `bad_token`"
          },
          "503": {
            "description": "FLEETWRIGHT_ACTIONS_REPOS is unset \u2014 this coordinator admits no runners"
          }
        }
      }
    },
    "/api/enroll/vm": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Admit a machine from your hypervisor as an ephemeral host",
        "description": "Reachable without a credential BECAUSE the ticket is the credential: minted by a `provision` for platform `vm`, single-use, forty-five minutes old at most, and bound to the person who asked. The box that cloned the machine booted it with the ticket in its cloud-init drive, which Xen Orchestra destroys after boot. The host id is derived from the ticket (`vm-<id>`), never chosen. See docs/hypervisors.md.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ticket",
                  "publicJwk"
                ],
                "properties": {
                  "ticket": {
                    "type": "string",
                    "description": "the `fwt_` ticket the machine was booted with"
                  },
                  "publicJwk": {
                    "type": "object",
                    "description": "the machine\u2019s own P-256 public key, made on it"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "enrolled: `hostId`, `fingerprint`, `ephemeral: true`"
          },
          "400": {
            "description": "the key is not a P-256 public key"
          },
          "403": {
            "description": "not a machine ticket, spent, or expired \u2014 `error.code` is `unclaimed`"
          },
          "507": {
            "description": "the fleet has no room for another host \u2014 `hosts_full`"
          }
        }
      }
    },
    "/api/vault": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Read or change your vault",
        "description": "`sealed` is `{ v: 1, github, email, op, at, reply, ... }` sealed on the device to the minting Worker's deposit key, where `op` is `list`, `put` or `forget` (a named secret `secret:NAME`, a hypervisor\u2019s token record `hypervisor:ADDRESS`, or `claude`), `connect` (a GitHub or Cloudflare sign-in: `provider`, `code`, `verifier`, `redirectUri`), `grant` (`hostKey`, the box's public key, and `label`) or `revoke` (`key`). The coordinator relays it unread beside the signed-in account, which the minter checks against `email` inside the seal. The answer is sealed to `reply`. See docs/vault.md.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sealed"
                ],
                "properties": {
                  "sealed": {
                    "type": "object",
                    "description": "`{ epk, iv, ct }` from src/fleet/seal.js"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`sealed`, the answer for the device, and `text`"
          },
          "400": {
            "description": "not a sealed vault request"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "422": {
            "description": "the minting Worker refused it, with a code and a sentence"
          }
        }
      }
    },
    "/api/cloudflare/device": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Start signing in to Cloudflare for your vault",
        "description": "The Cloudflare client id, the scopes this fleet asks for, the authorize page and the callback, for a device that runs Cloudflare's sign-in itself with its own PKCE verifier and a state beginning `d.`. The callback hands the code back to the app at `fleetwright://cloudflare`; the minting Worker makes the exchange through POST /api/vault. Not the client secret.",
        "responses": {
          "200": {
            "description": "`clientId`, `redirectUri`, `authorizeUrl`, `scopes`, `statePrefix`"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "503": {
            "description": "this fleet has no Cloudflare sign-in configured"
          }
        }
      }
    },
    "/api/xosetup/activity": {
      "post": {
        "summary": "Register a Live Activity for a hypervisor setup",
        "description": "The phone that began an `xosetup` job posts the push token of the Live Activity it started, so progress reaches the Lock Screen and the Dynamic Island while the app is closed. Only the job's owner. Answers with where the job has got to.",
        "operationId": "registerSetupActivity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "job",
                  "token"
                ],
                "properties": {
                  "job": {
                    "type": "string",
                    "pattern": "^[0-9a-f]{12}$"
                  },
                  "token": {
                    "type": "string",
                    "description": "The ActivityKit push token, hex."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "job": {
                      "type": "string"
                    },
                    "hostId": {
                      "type": "string"
                    },
                    "progress": {
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Not a job id and a token."
          },
          "403": {
            "description": "Not signed in."
          },
          "422": {
            "description": "No such job for this person."
          }
        }
      }
    },
    "/api/xosetup/report": {
      "post": {
        "security": [],
        "summary": "A machine image's build VM reports a step of its install",
        "description": "Reachable without a credential BECAUSE the token is the credential: the box running a policy job asks the coordinator for it over its own socket (`image-reporter`, answered by `minted`), one live token per job, held as a hash, gone when the job ends or after an hour, good for 24 reports. The box writes it into the build VM's cloud-init drive, which the build deletes before the VM becomes the template. The step is passed to that box, whose sentence for it is what the phone shows. See docs/hypervisors.md.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "step"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "the `fwi_` token the build VM was booted with"
                  },
                  "step": {
                    "type": "string",
                    "enum": [
                      "started",
                      "packages",
                      "installer",
                      "cleaning",
                      "done",
                      "failed"
                    ]
                  },
                  "detail": {
                    "type": "string",
                    "description": "with `failed` only: the end of the install log, cut to 2000 characters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "passed to the machine running the build"
          },
          "400": {
            "description": "not a step this build reports \u2014 `bad_step`"
          },
          "403": {
            "description": "not a token this fleet gave a build, or the build is over \u2014 `unknown`"
          },
          "429": {
            "description": "this token has carried all the reports it may \u2014 `too_many`"
          },
          "503": {
            "description": "the machine running the build is not connected \u2014 `host_away`"
          }
        }
      }
    },
    "/api/xosetup/relay": {
      "get": {
        "summary": "Carry a relay through this phone, for a pool no machine reaches",
        "description": "A WebSocket. When no machine in the fleet reaches a Xen Orchestra address (the `xoprobe` answer names a machine in `relay`), the phone that is adding it opens this, and the coordinator joins it to frames to that one machine. The machine opens TLS over it itself and holds it to the pin, so the phone and the coordinator carry ciphertext; the phone connects to `address` on its own network and nowhere else. The first message is `{op: \"ready\", relay, hostId, address, expiresAt, maxBytes}`; then `open`, `data` (base64) and `end` for each connection the machine makes, and `closed` with a sentence when it ends. The phone answers `opened` or `refused`, then `data` and `end`. Name the relay in `xoprobe` and `xosetup begin` as `relay`. An admin's device credential only, and only that device may name the relay. One probe, then one job; fifteen minutes and 64 MiB at most; closed when the job ends. See docs/hypervisors.md, \"Through the phone\".",
        "operationId": "openRelay",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Where Xen Orchestra answers, as the person typed it: a host name or address, with an optional port.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "query",
            "required": false,
            "description": "The machine to carry it for, as `xoprobe` named it in `relay.hostId`. Absent, the coordinator chooses.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "101": {
            "description": "The relay is open; the first message says which it is, or why it was closed."
          },
          "403": {
            "description": "Not a signed-in person\u2019s device."
          },
          "426": {
            "description": "Not a WebSocket upgrade."
          }
        }
      }
    }
  }
}
