{
  "openapi": "3.1.0",
  "info": {
    "title": "Fleetwright coordinator",
    "version": "1.0.0",
    "summary": "Long-running Claude Code sessions on machines you own, driven from a phone.",
    "description": "There are TWO implementations of this API \u2014 a Cloudflare Worker with a Durable Object, and a Node process \u2014 and they are required to behave identically. This document is the contract between them, and `test/openapi.test.js` walks it and asserts both.\n\nThat is the reason it exists. It is not primarily documentation: five separate parity bugs reached this branch before it was written, the last of which (`GET /api/events` existing on one coordinator and not the other) was found in about ten seconds by listing both route tables side by side.\n\nCONVENTIONS THAT ARE NOT OBVIOUS:\n\n- Every response carries `ok`. A 200 with `ok: false` is normal and means the fleet answered and the answer was no.\n- Errors carry `error.code` for a machine and `text` for a person. The text is written to be shown as-is; several of them are the only guidance an operator gets.\n- A credential may arrive as `Authorization: Bearer <token>` OR as `?token=<token>`. The query form is deliberate: a Shortcut calls this through \"Get Contents of URL\" and cannot set headers. Both are read by one function so the two forms can never diverge \u2014 they did once, and `?token=fwk_` was full access.",
    "license": {
      "name": "See repository"
    }
  },
  "servers": [
    {
      "url": "https://fleet.thetech.network",
      "description": "the Cloudflare Worker"
    },
    {
      "url": "http://127.0.0.1:8791",
      "description": "a Node coordinator on a box"
    }
  ],
  "tags": [
    {
      "name": "public",
      "description": "Reachable with no credential, deliberately. Each one is here for a stated reason."
    },
    {
      "name": "identity",
      "description": "Becoming allowed in: signing in, enrolling a machine."
    },
    {
      "name": "fleet",
      "description": "What exists and what it is doing."
    },
    {
      "name": "intents",
      "description": "Doing something to a session."
    },
    {
      "name": "devices",
      "description": "Push registration."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "A per-device credential (`fwk_<id>_<secret>`) issued by POST /api/session, or the break-glass admin token. Phones use the former; the latter can stop every session in the fleet."
      },
      "queryToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "The same credential, for callers that cannot set a header. Shortcuts, mostly."
      }
    },
    "schemas": {
      "Reply": {
        "type": "object",
        "required": [
          "ok"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "text": {
            "type": [
              "string",
              "null"
            ],
            "description": "For a person. Shown as-is."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              }
            },
            "required": [
              "code"
            ]
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "name",
          "status"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Generated and stable, e.g. cc-brave-otter. The identity everything keys on."
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the work is. For people."
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "stopped",
              "error"
            ]
          },
          "hostId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Which box. Attached by the coordinator on fan-out, because two hosts can hold the same name."
          },
          "rcUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Remote Control, if this session has published one."
          },
          "uuid": {
            "type": [
              "string",
              "null"
            ],
            "description": "The conversation. Present means resumable."
          }
        }
      },
      "Host": {
        "type": "object",
        "required": [
          "hostId",
          "connected",
          "state"
        ],
        "properties": {
          "hostId": {
            "type": "string"
          },
          "connected": {
            "type": "boolean"
          },
          "connectedAt": {
            "type": [
              "number",
              "null"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "healthy",
              "degraded",
              "unknown",
              "offline"
            ],
            "description": "Four values, not three. `offline` is what a host becomes when its socket drops \u2014 a fact we know, distinct from `unknown`, which is what we say when we have not heard recently enough to be sure. A client that collapses them reports a box we KNOW is gone as a box we cannot see, which is the more alarming of the two and the less accurate."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "Why it is not healthy, as a sentence. The registry works hard to make \"we don't know\" unrepresentable."
          },
          "health": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "healthAt": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "EnrolledHost": {
        "type": "object",
        "required": [
          "hostId",
          "fingerprint"
        ],
        "properties": {
          "hostId": {
            "type": "string"
          },
          "fingerprint": {
            "type": "string",
            "description": "16 hex characters of SHA-256 over the public key. Compare against what the box prints."
          },
          "enrolledBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "enrolledAt": {
            "type": [
              "number",
              "null"
            ]
          },
          "lastSeenAt": {
            "type": [
              "number",
              "null"
            ]
          },
          "revokedAt": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "Event": {
        "type": "object",
        "required": [
          "event",
          "at"
        ],
        "properties": {
          "hostId": {
            "type": [
              "string",
              "null"
            ]
          },
          "event": {
            "type": "string",
            "description": "session.awaiting-input, session.ended, session.error, session.rc-online, host.enrolled, host.refused, host.revoked, enrol.minted, intent"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "text": {
            "type": [
              "string",
              "null"
            ]
          },
          "actor": {
            "type": [
              "string",
              "null"
            ],
            "description": "The verified email of whoever asked. Null for events the fleet originated."
          },
          "verb": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          },
          "at": {
            "type": "number"
          }
        }
      },
      "Prompt": {
        "type": "object",
        "description": "What a session is asking, when the host recognised the shape of it. Never raw pane text \u2014 see src/fleet/host/prompt.js.",
        "required": [
          "id",
          "kind",
          "question",
          "options"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Names this question as rendered. An answer that no longer matches is refused rather than typed into whatever is on screen instead."
          },
          "kind": {
            "type": "string",
            "enum": [
              "resume",
              "trust",
              "permission"
            ]
          },
          "question": {
            "type": "string",
            "description": "Written by the fleet, drawn from a fixed vocabulary. Never lifted from the terminal."
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "index",
                "label"
              ],
              "properties": {
                "index": {
                  "type": "integer"
                },
                "label": {
                  "type": "string",
                  "maxLength": 80
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearer": []
    },
    {
      "queryToken": []
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "public"
        ],
        "security": [],
        "summary": "Liveness, and nothing else",
        "description": "No host names, no counts. A liveness endpoint that leaks the fleet is not a liveness endpoint.",
        "responses": {
          "200": {
            "description": "alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "protocol"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "protocol": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/session": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Sign in, and receive a credential for this device",
        "description": "The one route that takes an identity token rather than a fleet credential, because it is where a fleet credential comes from. The ID token is verified against the provider's published keys and the address checked against the fleet's allowlist. Rate limited.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idToken"
                ],
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "From Sign in with Apple or Google."
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "Names the credential in the fleet's device list."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The only time the credential exists in full. The coordinator keeps a hash.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "token"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "token": {
                      "type": "string",
                      "pattern": "^fwk_"
                    },
                    "client": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The token did not verify, and the reason says which check failed. `token_reused` means it already bought a credential: a token is exchanged once."
          },
          "403": {
            "description": "Verified, and not allowed in. `private_relay` means Hide My Email, which can never match a domain."
          },
          "429": {
            "description": "Too many attempts from this address."
          },
          "503": {
            "description": "This coordinator has no sign-in configured."
          },
          "507": {
            "description": "this fleet cannot store another credential"
          }
        }
      }
    },
    "/api/enroll": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Mint a six-digit pin",
        "description": "An invitation, not a way in \u2014 it requires a credential. A pin is short-lived, single-use and purpose-bound. Bind it to a host id to allow replacing that machine's key; an unbound pin may only ADD a machine.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "host",
                      "device"
                    ],
                    "default": "host"
                  },
                  "label": {
                    "type": "string"
                  },
                  "hostId": {
                    "type": "string",
                    "description": "Bind the pin to one machine."
                  },
                  "readmit": {
                    "type": "boolean",
                    "description": "Allow this pin to bring back a REVOKED host."
                  },
                  "ephemeral": {
                    "type": "boolean",
                    "description": "Admit a host that is expected to vanish: a disconnect retires the entry and revokes its key, and the scheduler will not place ordinary work on it. Decided here rather than claimed by the host \u2014 see docs/ephemeral-hosts.md."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the pin, shown once",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "code"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "code": {
                      "type": "string",
                      "pattern": "^[0-9]{6}$"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "purpose": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "no credential"
          }
        }
      },
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "What pins are outstanding",
        "description": "Codes are masked. This answers \"what did I leave lying around\", not \"what is the pin\".",
        "responses": {
          "200": {
            "description": "outstanding pins, masked"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/enroll/host": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Spend a pin to register a machine's public key",
        "description": "Reachable without a credential BECAUSE it is how a machine that has none gets one. The pin is the authorisation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "hostId",
                  "publicJwk"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "hostId": {
                    "type": "string"
                  },
                  "publicJwk": {
                    "type": "object",
                    "description": "P-256 public key. A private key here is refused."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "enrolled, re-enrolled or readmitted \u2014 `text` says which"
          },
          "400": {
            "description": "the key or the host id was not acceptable"
          },
          "403": {
            "description": "the pin was wrong, spent, expired, or minted for another host"
          },
          "507": {
            "description": "this fleet is holding as many machines as it can store"
          }
        }
      }
    },
    "/api/host/challenge": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "A nonce to sign",
        "description": "Unauthenticated by necessity \u2014 asking for a nonce is what an unauthenticated party does in order to become authenticated. Nothing is stored: the nonce carries its own proof that this coordinator issued it, so a flood costs the coordinator nothing and cannot evict anybody else's.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hostId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "a nonce",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "nonce"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "nonce": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/host/verify": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "The same check /host/connect makes, without the socket",
        "description": "So `agent-fleet-sidecar doctor` can tell an operator that the key on disk was never enrolled, or has been revoked, instead of leaving them to read a reconnect loop out of the journal.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostId",
                  "nonce",
                  "proof"
                ],
                "properties": {
                  "hostId": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "proof": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "this host would be admitted"
          },
          "401": {
            "description": "and the reason distinguishes not-enrolled, revoked, expired, already-used and wrong-key"
          }
        }
      }
    },
    "/api/hosts": {
      "get": {
        "tags": [
          "fleet"
        ],
        "summary": "Everything a client can see about the fleet",
        "responses": {
          "200": {
            "description": "hosts, device count, recent events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "protocol",
                    "hosts"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "protocol": {
                      "type": "integer"
                    },
                    "hosts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Host"
                      }
                    },
                    "devices": {
                      "type": "integer"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "runners": {
                      "description": "Whether this fleet can start a temporary machine. Null when no runner repository is configured, so a client offers `provision` only where it does something. Absent from an older coordinator, which means the same.",
                      "oneOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "object",
                          "required": [
                            "repo"
                          ],
                          "properties": {
                            "repo": {
                              "type": "string",
                              "description": "owner/repo holding the runner workflows"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/hosts/enrolled": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Which machines are in this fleet, with their key fingerprints",
        "description": "Carries no key material. The fingerprint is for a person to compare against what the box prints.",
        "responses": {
          "200": {
            "description": "enrolled machines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "hosts"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "hosts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnrolledHost"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/hosts/{hostId}": {
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Remove a machine from the fleet",
        "description": "Revoked AND disconnected: a revoked host holding a live socket is still in the fleet until something closes it. Marked rather than deleted, so a host that reconnects is told it was revoked rather than that it was never known.",
        "parameters": [
          {
            "name": "hostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "revoked and disconnected"
          },
          "401": {
            "description": "no credential"
          },
          "404": {
            "description": "no such host, or already revoked"
          }
        }
      }
    },
    "/api/clients": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Which devices can reach this fleet",
        "description": "Without secrets \u2014 the coordinator stores a hash, not a token.",
        "responses": {
          "200": {
            "description": "devices"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/clients/{id}": {
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Revoke one device, leaving every other alone",
        "description": "Which is the whole point of there being more than one credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "revoked"
          },
          "401": {
            "description": "no credential"
          },
          "404": {
            "description": "no such client, or already revoked"
          }
        }
      }
    },
    "/api/invites": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Who has been invited",
        "description": "The allow list an admin grew by hand, as opposed to the one in the deployment\u2019s configuration. An invitation grants nothing by itself: it names WHICH ADDRESS may sign in.",
        "responses": {
          "200": {
            "description": "`invites` \u2014 one row per address"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not an admin \u2014 inviting is the admin seat\u2019s"
          }
        }
      },
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Invite an address",
        "description": "Adds the address to the allow list and, when the deployment can send mail, emails them the two store links. The reply says whether the email went, because \u201cinvited\u201d and \u201ctold\u201d are different facts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string",
                    "description": "a line for the email, in the inviter\u2019s words"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "invited \u2014 `text` says whether an email was sent"
          },
          "400": {
            "description": "not an address"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not an admin \u2014 inviting is the admin seat\u2019s"
          },
          "507": {
            "description": "this fleet has as many invitations outstanding as it can store"
          }
        }
      }
    },
    "/api/invites/{email}": {
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Withdraw an invitation",
        "description": "Removes the address from the allow list. A credential they already hold is a separate row and is revoked from /api/clients/{id}.",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "withdrawn \u2014 `invites` is the list after"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not an admin \u2014 inviting is the admin seat\u2019s"
          },
          "404": {
            "description": "was not invited"
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": [
          "fleet"
        ],
        "summary": "What happened while you were asleep",
        "description": "Push wakes a phone; this tells it what it missed. Capped at the same page size on both coordinators.",
        "responses": {
          "200": {
            "description": "recent events, oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "events"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/intent": {
      "post": {
        "tags": [
          "intents"
        ],
        "summary": "Do something to a session",
        "description": "The fixed verb set is the security model: this API cannot express a shell string even to itself, so a compromised coordinator can start and stop sessions and can never run anything. A caller-supplied `actor` is a label; a signed-in device's verified email overrides it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verb"
                ],
                "properties": {
                  "verb": {
                    "type": "string",
                    "enum": [
                      "answer",
                      "channel",
                      "connect",
                      "copyfile",
                      "deletefile",
                      "files",
                      "forget",
                      "health",
                      "labels",
                      "link",
                      "list",
                      "logs",
                      "peek",
                      "profiles",
                      "provision",
                      "purge",
                      "readfile",
                      "reboot",
                      "renew",
                      "restore",
                      "resume",
                      "sandbox",
                      "start",
                      "status",
                      "stop",
                      "unlink",
                      "update",
                      "updates",
                      "upgrade",
                      "verify",
                      "writefile"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "actor": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Idempotency key, honoured: a retried `start` returns the original outcome rather than a second session."
                  },
                  "host": {
                    "type": "string",
                    "description": "Placement preference for `start`: run the session on this host. Beside the intent rather than in params, because `start` declares no host parameter \u2014 a host receiving one would refuse the intent. Ignored for pinned and fan-out verbs. Refused by name if the host is unknown, degraded, or full."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The fleet answered. `ok: false` here means the answer was no.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Reply"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "sessions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Session"
                          }
                        },
                        "fanout": {
                          "type": "boolean"
                        },
                        "hosts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "not a well-formed intent"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/api/devices": {
      "post": {
        "tags": [
          "devices"
        ],
        "summary": "Register for push",
        "description": "Keyed by the push token rather than an id we mint, because the token is what identifies a delivery target \u2014 and a reinstall gives the same phone a new one, which should not accumulate as a second registration that fails forever.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "platform",
                  "token"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "ios",
                      "android",
                      "web"
                    ]
                  },
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "registered"
          },
          "400": {
            "description": "unknown platform, or no token"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "that push token is registered to another device"
          },
          "507": {
            "description": "this fleet is holding as many push registrations as it can store"
          }
        }
      },
      "delete": {
        "tags": [
          "devices"
        ],
        "summary": "Stop notifying this device",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "forgotten"
          },
          "401": {
            "description": "no credential"
          },
          "404": {
            "description": "not registered"
          }
        }
      }
    },
    "/api/devices/test": {
      "post": {
        "tags": [
          "devices"
        ],
        "summary": "Send this device a notification now",
        "description": "Push fails silently by nature: a registration that never arrived and a provider that was never configured look identical from a phone, which is to say they look like nothing at all. This is the only way to find out before the notification that matters.",
        "responses": {
          "200": {
            "description": "sent, or a reason it was not"
          },
          "401": {
            "description": "no credential"
          }
        }
      }
    },
    "/apple/notifications": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Apple's server-to-server notification",
        "description": "Apple POSTs a signed JWT here when a user changes mail forwarding, REVOKES this app from their Apple ID settings, or deletes their Apple Account. The last two mean a person has withdrawn consent, and every credential issued to that address is revoked \u2014 along with the push registrations that went with them.\n\nPublic by necessity: Apple holds no credential of ours, so the signature on the JWT is the entire authentication. Anyone may POST here; only a message signed by Apple, for this app's audience, does anything.\n\nAnswers 200 to anything it can verify, including notifications it deliberately ignores, because Apple retries on failure and there is nothing to gain from making it retry a message we understood.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payload"
                ],
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "A JWT signed by Apple."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "verified \u2014 acted on, or deliberately ignored"
          },
          "401": {
            "description": "the notification did not verify"
          },
          "503": {
            "description": "this coordinator has no audience configured, so it cannot check one"
          }
        }
      }
    },
    "/oauth/github/callback": {
      "get": {
        "summary": "Finish a GitHub App authorization",
        "description": "Where GitHub redirects a browser after somebody authorizes the App. Unauthenticated by necessity \u2014 a browser carries no fleet credential \u2014 and secured by `state`: unguessable, single-use, minutes-long, and bound to the host and person who started the flow. Returns HTML, because the thing reading it is a browser. Absent a configured App, every request here is refused.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connected. An HTML page telling the person they can close the tab.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Refused \u2014 unknown, expired or already-used state, or GitHub declined.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/oauth/cloudflare/callback": {
      "get": {
        "summary": "Finish a Cloudflare OAuth authorization",
        "description": "Where Cloudflare redirects a browser after somebody authorizes this fleet's OAuth client. The same shape as the GitHub callback and secured the same way: unauthenticated by necessity \u2014 a browser carries no fleet credential \u2014 with a `state` that is unguessable, single-use, minutes-long, and bound to the host and person who started the flow. Returns HTML, because the thing reading it is a browser. Absent a configured client, every request here is refused.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connected. An HTML page telling the person they can close the tab.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Refused \u2014 unknown, expired or already-used state, or Cloudflare declined.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/runner-tokens": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Runner tokens that are yours",
        "description": "Every token for an admin; only their own for a member. A runner token is how a repository\u2019s workflow enrols an ephemeral host as the person who minted it \u2014 see docs/ephemeral-hosts.md.",
        "responses": {
          "200": {
            "description": "`tokens`, never the secret half"
          },
          "401": {
            "description": "no credential"
          }
        }
      },
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Mint a runner token",
        "description": "Belongs to the signed-in person, so runs it enrols are attributed to them. The admin token cannot mint one: a runner has to be somebody\u2019s.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "what it is for, usually the repository"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`id`, `token` (shown once) and `email`"
          },
          "401": {
            "description": "no credential"
          },
          "403": {
            "description": "not signed in as a person"
          },
          "507": {
            "description": "this fleet cannot store another runner token"
          }
        }
      }
    },
    "/api/runner-tokens/{id}": {
      "delete": {
        "tags": [
          "identity"
        ],
        "summary": "Revoke a runner token",
        "description": "Runs still using it are refused at enrolment from then on. A member can revoke their own; an admin any.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "revoked"
          },
          "401": {
            "description": "no credential"
          },
          "404": {
            "description": "no such token, or not yours \u2014 the two are not distinguished on purpose"
          }
        }
      }
    },
    "/api/enroll/actions": {
      "post": {
        "tags": [
          "identity"
        ],
        "security": [],
        "summary": "Admit a GitHub Actions job as an ephemeral host",
        "description": "Reachable without a credential BECAUSE the job\u2019s OIDC token is the credential: verified against GitHub\u2019s keys, bound to the repositories in AGENT_FLEET_ACTIONS_REPOS, and single-use. Returns a pin the runner spends at /api/enroll/host \u2014 see docs/ephemeral-hosts.md.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "the job\u2019s ACTIONS_ID_TOKEN"
                  },
                  "ticket": {
                    "type": "string",
                    "description": "a single-use ticket from a `provision` dispatch, which attributes the run to the person who asked for it"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "a pin, host-bound and short-lived"
          },
          "403": {
            "description": "the token did not verify, or names a repository this fleet does not admit \u2014 `error.code` is `bad_token`"
          },
          "503": {
            "description": "AGENT_FLEET_ACTIONS_REPOS is unset \u2014 this coordinator admits no runners"
          }
        }
      }
    }
  }
}
